/* GOOGLE FONT */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

/* VARIABLES */

:root {

    --color-light: #ffffff;
    --color-dark: #000000;

    --font-main: 'Montserrat', sans-serif;
}

/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-main);
}